<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JubaoMapper">
  <resultMap id="BaseResultMap" type="com.entity.Jubao">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="pinglunneirong" jdbcType="VARCHAR" property="pinglunneirong" />    <result column="pinglunren" jdbcType="VARCHAR" property="pinglunren" />    <result column="jubaoneirong" jdbcType="VARCHAR" property="jubaoneirong" />    <result column="jubaoren" jdbcType="VARCHAR" property="jubaoren" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pinglunneirong,pinglunren,jubaoneirong,jubaoren, addtime
  </sql>
  <select id="quchongJubao"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from jubao 
    where jubaoren = #{jubaoren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from jubao  where 1=1
    <if test="pinglunneirong!=null">and pinglunneirong like  concat('%',#{pinglunneirong,jdbcType=VARCHAR},'%')</if>     <if test="pinglunren!=null">and pinglunren like  concat('%',#{pinglunren,jdbcType=VARCHAR},'%')</if>     <if test="jubaoneirong!=null">and jubaoneirong like  concat('%',#{jubaoneirong,jdbcType=VARCHAR},'%')</if>     <if test="jubaoren!=null">and jubaoren like  concat('%',#{jubaoren,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jubao  where 1=1
    <if test="jubaoren!=null">
    and jubaoren =#{jubaoren}
    </if>
  </select>
  
  <select id="getsyjubao1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jubao  where 1=1
    limit 0,5
  </select>
  <select id="getsyjubao2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jubao  where 1=1
    limit 0,5
  </select>
  <select id="getsyjubao3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jubao  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from jubao where 1=1 
     <if test="pinglunneirong!=null">and pinglunneirong like  concat('%',#{pinglunneirong,jdbcType=VARCHAR},'%')</if>     <if test="pinglunren!=null">and pinglunren like  concat('%',#{pinglunren,jdbcType=VARCHAR},'%')</if>     <if test="jubaoneirong!=null">and jubaoneirong like  concat('%',#{jubaoneirong,jdbcType=VARCHAR},'%')</if>     <if test="jubaoren!=null">and jubaoren like  concat('%',#{jubaoren,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jubao
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jubao
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Jubao">
    insert into jubao (id, pinglunneirong,pinglunren,jubaoneirong,jubaoren, addtime)
    values (#{id,jdbcType=INTEGER}, #{pinglunneirong,jdbcType=VARCHAR},#{pinglunren,jdbcType=VARCHAR},#{jubaoneirong,jdbcType=VARCHAR},#{jubaoren,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Jubao">
    insert into jubao
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pinglunneirong != null"> pinglunneirong, </if>      <if test="pinglunren != null"> pinglunren, </if>      <if test="jubaoneirong != null"> jubaoneirong, </if>      <if test="jubaoren != null"> jubaoren, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pinglunneirong != null"> #{pinglunneirong,jdbcType=VARCHAR},</if>      <if test="pinglunren != null"> #{pinglunren,jdbcType=VARCHAR},</if>      <if test="jubaoneirong != null"> #{jubaoneirong,jdbcType=VARCHAR},</if>      <if test="jubaoren != null"> #{jubaoren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Jubao">
    update jubao
    <set>
	  <if test="pinglunneirong != null"> pinglunneirong = #{pinglunneirong,jdbcType=VARCHAR},</if>      <if test="pinglunren != null"> pinglunren = #{pinglunren,jdbcType=VARCHAR},</if>      <if test="jubaoneirong != null"> jubaoneirong = #{jubaoneirong,jdbcType=VARCHAR},</if>      <if test="jubaoren != null"> jubaoren = #{jubaoren,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Jubao">
    update jubao
    set pinglunneirong = #{pinglunneirong,jdbcType=VARCHAR},pinglunren = #{pinglunren,jdbcType=VARCHAR},jubaoneirong = #{jubaoneirong,jdbcType=VARCHAR},jubaoren = #{jubaoren,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
