<div class="wrap">
    <div class="half-footer" style="margin-left:0">
        <ul class="feeds">
            <h3>我们的宗旨</h3>
            <li><a href="index.html">帮助更多人学习古典音乐</a></li>
            <li><a href="blog.html">让更多古典音乐爱好人士可以交流</a></li>
            <li><a href="blog.html">免费学习古筝、琵琶、二胡等乐器</a></li>
            <li><a href="blog.html">弘扬中华文化传统</a></li>
            <li><a href="contact.html">缔造和谐生态音乐圈</a></li>
        </ul>
        <div class="footer-pic"><img src="images/f-icon.png" alt=""></div>
        <div class="clear"></div>
    </div>
    <div class="half-footer" style="border:none">
        <ul class="adress">
            <h3>导航</h3>
            <li><a href="index.html">首页</a></li>
            <li><a href="about.html">关于我们</a></li>
            <li><a href="blog.html">活动</a></li>
            <li><a href="blog.html">登陆</a></li>
            <li><a href="#">649814031@qq.com</a></li>
        </ul>
        <div class="footer-pic"><img src="images/foot-icon.png" alt=""></div>
    </div>
    <div class="clear"></div>
</div>

